// 背景色
$header-background: #fff;
$main-background: #f5f5f5;
$footer-background: #212121;

//コメント
$comment: #eef0f4;
$border-color: #ccc;

$litegreen: #90EE90;
$seagreen: #2E8B57;
$green: #008000;
$liteblue: #0099e8;
$white: #fff;
$black: #333;
$red: #ea352d;
$darkgray: #888;
$gray: #aaa;
$darkbrown: #564539;
$yellow: #FFCC33;
