.book_new_edit {
  padding: 40px 0;
  height: 100%;
  width: 900px;
  margin: 0 auto;
  .title {
    font-size: 28px;
    padding: 20px 0;
    p {
      text-align: center;
    }
  }
  &__form {
    width: 600px;
    margin: 20px auto;
    background-color: $white;
    @include boder-enclosure;
    .book-new {
      min-height: 300px;
      width: 60%;
      margin: 0 auto;
      padding: 45px 10px;
      #error_explanation {
        color: $red;
      }
      .field {
        margin-top: 5px;
        .form-input {
          width: 100%;
          margin: 8px 0;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          &:focus {
            @include input-focus;
          }
        }
        .label-require::after {
          content: '*';
          @include require;
          color: $red;
        }
        .label-any::after {
          
          @include require;
          background-color: $gray;
        }
        .form-area {
          @extend .form-input;
          height: 100%;
        }
        #review_day_1i, #review_day_2i, #review_day_3i {
          height: 30px;
          width: 80px;
          margin: 10px 0;
          option {
            &:hover {
            @include input-focus;
            }
          }
        }
      }
      .actions {
        padding-top: 15px;
        input {
          background-color: $seagreen;
          border: 1px solid #ccc;
          display: block;
          width: 100%;
          line-height: 30px;
          font-size: 14px;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          // cursor: pointer;
          text-align: center;
          &:focus {
            @include input-focus;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
