.notifications {
  color: $white;
  text-align: center;
  font-size: 20px;
  
  .notice {
    background: $yellow;
    height: 30px;
    line-height: 30px;
  }
  .alert {
    height: 30px;
    line-height: 30px;
    background: $red;
  }
}
